#intro {
    background-color: #0000FF;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-height: 550px;
}

#headline-container {
    position: relative;
    height: 60%;
    border-bottom: 2px solid white;
}

h1, p {
    color: white;
}

p {
    font-size: 24px;
}

h1 {
    position: absolute;
    bottom: 0;
    padding-bottom: 3%;
    font-size: 5vw;
    width: 60%;
}

#subhead-container {
    padding-top: 2%;
    position: relative;
    height: 40%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#asterisk-container {
    width: 100px;
    height: 100px;
}

#asterisk {
    height: 100%;
}

#subhead-content-container {
    width: 40%;
}

#learn-more {
    width: 130px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    margin-top: 30px;
}

#learn-more > h4 {
    color: blue;
}

#double-caret {
    height: 100%;
}
