/* @font-face {
    font-family: groteskScreen;
    src: url(../../assets/webfonts/Px-Grotesk-Screen/Px-Grotesk-Screen.woff)
}

@font-face {
    font-family: grotesk;
    src: url(../../assets/webfonts/Px-Grotesk-Bold/Px-Grotesk-Bold.woff);
    font-style: bold;
    font-weight: 800;
}

@font-face {
    font-family: groteskRegular;
    src: url(../../assets/webfonts/Px-Grotesk-Bold/Px-Grotesk-Bold.woff);
    font-style: regular;
    font-weight: 400;
} */


#intro {
    background-color: #0000FF;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    /* min-height: 650px; */
    min-height: 800px;
    width: 100%;
    height: 100vh;
}

#headline-container {
    position: relative;
    height: 58%;
    width: 100%;
    /* font-family: grotesk; */
}

#accent-text {
    font-family: groteskScreen;
}

#accent-line {
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0
}

h1, p {
    color: white;
    font-family: grotesk;
}

p {
    /* font-size: 18px; */
    font-size: clamp(18px, 1.5vw, 26px);
}

h1 {
    position: absolute;
    bottom: 0;
    padding-bottom: 3%;
    font-size: clamp(45px, 7vw, 124px);
    width: 80%;
}

#lm {
    font-size: 14px;
    font-family: groteskScreen;
    line-height: 0;
    margin-top: 3px;
}

#subhead-container {
    padding-top: 2%;
    position: relative;
    height: 42%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#asterisk-container {
    width: 100px;
    height: 100px;
}

#asterisk {
    height: 100%;
}

#subhead-content-container {
    width: 50%;
}

#learn-more {
    width: 130px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: blue;
    margin-top: 30px;
}

/* #learn-more > h4 {
    color: blue;
} */

#double-caret {
    height: 100%;
}

@media only screen and (max-width: 800px) {

#subhead-content-container {
    width: 65%;
}

#headline-container {
    height: 50%;
}

#subhead-container {
    height: 50%;
}

#intro {
    min-height: 850px;
}

}
